.projects {
  padding: 5rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.projects-headline {
  padding-bottom: 1rem;
}

.projects-headline p {
  border-bottom: 1px solid var(--secondary);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.projects-container {
  padding: 2rem;
  border-radius: 2.5rem;
  background-color: var(--white);
}

.project-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

/* left */
.project-item-left {
  flex: 1;
}

.project-item-left img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

/* right */
.project-item-right {
  flex: 2;
  margin-left: 2rem;
}

.project-item-right h3 {
  color: var(--secondary);
}

.project-item-right h4 {
  color: var(--dark);
}

.project-item-right ul {
  display: flex;
  margin: 1rem 0;
}

.project-item-right li {
  list-style: none;
  margin-right: 1rem;
}

.project-item-right i {
  font-size: 2rem;
  color: var(--dark);
  transition: all 0.2s ease-in-out;
}

.project-item-right i:hover {
  color: var(--secondary);
}

@media screen and (max-width: 480px) {
  .projects {
    padding: 2rem 0;
  }
  .projects-headline h1 {
    font-size: 2rem;
  }
  .projects-container {
    padding: 0.5rem;
  }

  .project-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project-item-right h3 {
    font-size: 1.4rem;
    margin-top: 1rem;
  }

  .project-item-right h4 {
    font-size: 1rem;
  }

  .project-item-right ul {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .projects {
    padding: 2rem 0;
  }
  .projects-headline h1 {
    font-size: 2rem;
  }
  .projects-container {
    padding: 0.5rem;
  }

  .project-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project-item-right h3 {
    font-size: 1.4rem;
    margin-top: 1rem;
  }

  .project-item-right h4 {
    font-size: 1rem;
  }

  .project-item-right ul {
    justify-content: center;
  }
}
