.toggle {
  position: absolute;
  top: 10rem;
  right: 1rem;
  z-index: 10;
  width: 50px;
  height: 25px;
  border-radius: 20px;
  background-color: white;
  border: 1px solid var(--dark);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.toggle i {
  width: 15px;
  height: 15px;
  color: var(--dark);
}

.toggle_btn {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  background-color: var(--dark);
  border: none;
}

@media screen and (max-width: 480px) {
  .toggle {
    top: 6rem;
    right: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .toggle {
    top: 6rem;
    right: 1rem;
  }
}
